@{
    ViewData["Title"] = "Elenco";
}
<h1>@ViewData["Title"]</h1>

<p>James Rodriguez</p>
<p>Lucas Moura</p>
<p>Jonathan Calleri</p>
<p>Alexandre Pato</p>
<p>Giuliano Galoppo</p>
<p>Robert Arboleda</p>
<p>Rafinha</p>
<p>Luciano Neves</p>
<p>Lucas Beraldo</p>
<p>Wellington Rato</p>
<p>Pablo Maia</p>
<p>Caio Paulista</p>
<p>Gabriel Neves</p>
<p>Michel Araújo</p>
<p>Rodrigo Nestor</p>
<p>Erison de Souza</p>
<p>Alisson de Castro</p>
<p>Alan Franco</p>
<p>Diego Costa</p>
<p>Nahuel Ferraresi</p>
<p>Rafael Monteiro</p>
<p>Luan da Silva</p>
<p>David Fonseca</p>
<p>Igor Vinicius</p>
<p>Juan Santos</p>
<p>Marcos Paulo</p>
<p>Jhegson Méndez</p>
<p>Jandrei</p>
<p>Pedro Vilhena</p>
<p>Rodriguinho</p>
<p>Welington</p>
<p>Matheus Belém</p>
<p>Nathan</p>
<p>Gabriel Maioli</p>
<p>Walce</p>
<p>Patryck</p>
<p>Felipe Negrucci</p>
<p>João Moreira</p>
<p>Caio Matheus</p>
<p>Yba Ly</p>
<p>Young Moraes</p>
<p>King Faisal</p>
<p>Leandro Mathias</p>
<p>Kayky Carvalho</p>
<p>Ythallo Rycklem</p>
<p>Talles Costa</p>
<p>Raí Ramos</p>
<p>Azeez Balogun</p>