@{
    ViewData["Title"] = "Títulos";
}

<h2>Títulos Internacionais</h2>

<p>Mundial de Clubes: 1992, 1993, 2005</p>
<p>Copa Libertadores da América: 1992, 1993, 2005</p>
<p>Copa Sul-Americana: 2012</p>
<p>Supercopa da Libertadores da América: 1993</p>
<p>Recopa Sul-Americana: 1993, 1994</p>
<p>Copa Conmebol: 1994</p>
<p>Copa Master da Conmebol: 1996</p>


<h2>Competições amistosas ou promovidas por terceiros</h2>

<p>Florida Cup, Estados Unidos: 2017.</p>
<p>Copa Eusébio, Portugal: 2013.</p>
<p>Copa Constantino Cury, Brasil: 2000.</p>
<p>Troféu Cidade de Pachuca - Cuña del Fútbol Mexicano, México: 1999.</p>
<p>Copa Los Angeles, Estados Unidos: 1999.</p>
<p>Copa Euro-América, Brasil: 1999.</p>
<p>Copa Clubes Irmãos, Brasil: 1997.</p>
<p>Copa Cerveja Cristal, Chile: 1996.</p>
<p>Troféu Achilie e Cesare Bortolotti, Itália: 1995.</p>
<p>Taça Club Atlético San Lorenzo de Almagro, Argentina: 1994.</p>
<p>Taça Cidade de Los Angeles, Estados Unidos: 1993.</p>
<p>Copa Cidade de Santiago, Chile: 1993.</p>
<p>Torneio Jalisco, México: 1993.</p>
<p>Torneio Santiago de Compostela, Espanha: 1993.</p>
<p>Troféu Xacobeo, Espanha: 1993</p>
<p>Copa Amizade, Brasil: 1993.</p>
<p>Torneio Ramón de Carranza, Espanha: 1992.</p>
<p>Torneio Teresa Herrera, Espanha: 1992.</p>
<p>Taça Cidade de Barcelona, Espanha: 1991, 1992.</p>
<p>Torneio Quadrangular de León, Trofeo de la Amistad, México: 1990.</p>
<p>Torneio da Amizade, Chile: 1990.</p>
<p>Super Soccer Cup, Índia: 1989, 2007.</p>
<p>Torneio Quadrangular de Guadalajara, Copa Ciudad de Guadalajara, México: 1989.</p>
<p>Taça KKT Gahara Cup, Japão: 1989</p>
<p>Troféu Stora 100 anos, Suécia: 1988.</p>
<p>Taça da Jamaica, Jamaica: 1987.</p>
<p>Taça de Trinidad e Tobago, Trinidad e Tobago: 1987.</p>
<p>Torneio Internacional de Verão - Série Internacional Sunshine; Tampa Bay, Estados Unidos: 1982.</p>
<p>Troféu Federación Mexicana de Fútbol: 1981.</p>
<p>Troféu Nabi Abi Chedid, São Paulo: 1981.</p>
<p>Troféu Dr. Cyro Ciambruno, Uruguai: 1974.</p>
<p>Troféu José Alves Marques, São Paulo: 1971.</p>
<p>Troféu Seleções do Readers Digest, São Paulo: 1970.</p>
<p>Troféu Colombino, Espanha: 1969.</p>
<p>Troféu Sport Lisboa e Benfica, São Paulo: 1968.</p>
<p>I Triangular de El Salvador, El Salvador: 1964.</p>
<p>Torneio Quadrangular de Firenze, Itália: 1964.</p>
<p>Taça Club Nacional, Paraguai: 1963.</p>
<p>Torneio Pentagonal de Guadalajara, México: 1960.</p>
<p>Torneio Quadrangular de Cali, Colômbia: 1960.</p>
<p>Taça Deputado Mendonça Falcão, Brasil: 1960.</p>
<p>Taça Sporting Club de Portugal, Brasil: 1960.</p>
<p>I Copa São Paulo - Torneio Internacional do Morumbi, Brasil: 1957.</p>
<p>Pequena Taça do Mundo, Venezuela: 1963.</p>
<p>Pequena Taça do Mundo - Série Internacional de Futebol, Venezuela: 1955.</p>
<p>Troféu Jarrito, México: 1955.</p>
<p>Copa Rosso-Bleu, Itália*: 1951</p>
<p>Taça Kobenhavn Boldklub, Dinamarca*: 1951.</p>
<p>Taça Füssball Club Saarbrücken, Sarre*: 1951.</p>
<p>Taça Malmö FF: 1949.</p>
<p>Taça Coletividade Brasileira, Paraguai: 1945.</p>
<p>Taça Ministro das Relações Exteriores do Brasil, Brasil: 1941.</p>
* Conquistadas sob o Combinado São Paulo-Bangu.
 
<h2>Taças e Troféus Secundários</h2>

<p>Copa Toyota: 1992, 1993</p>
<p>Copa Toyota Libertadores da América: 2005</p>
<p>Taça Recopa Japan AirLines: 1993, 1994</p>
<p>Taça Japan AirLines Recopa Final: 1994</p>
<p>Taça Prefeitura de São Paulo: 1992</p>
<p>Taça Instituto Nacional de Desportos, Venezuela: 1955.</p>
<p>Taça Ministro da Educação, Venezuela: 1955.</p>
<p>Taça Colônia Portuguesa, Venezuela: 1955.</p>
<p>Taça Federación Venezuelana de Fútbol, Venezuela: 1955.</p>
<p>Troféu Esporte Moura, pela excursão à Europa: 1964</p>
<p>Troféu La Nazione - Firenze, Itália: 1964</p>

<h2>Títulos Nacionais</h2>

<p>Campeonato Brasileiro: 1977, 1986, 1991, 2006, 2007, 2008.</p>
<p>Copa do Brasil: 2023.</p>
<p>Torneio Rio-São Paulo: 2001</p>
<p>Torneio Governador Nunes Freire, Maranhão: 1976.</p>
<p>Taça Independência do Brasil: 1971.</p>
<p>Taça dos Campeões Estaduais Rio de Janeiro-São Paulo: 1931, 1943, 1946, 1948, 1953, 1957, 1975, 1980, 1985, 1987.</p>

<h2>Competições amistosas ou promovida por terceiros</h2>

<p>Troféu Osmar Santos (I Turno Campeonato Brasileiro): 2006, 2007, 2018.</p>
<p>Troféu João Saldanha (II Turno Campeonato Brasileiro): 2006, 2007, 2008, 2012.</p>
<p>Copa dos Campeões Mundiais: 1995, 1996.</p>
<p>Torneio Rei Dadá, Minas Gerais: 1995.</p>
<p>Taça Federação Paraense de Futebol: 1993.</p>
<p>Torneio Quadrangular Governador José Moraes: 1986.</p>
<p>Taça Centro Esportivo de Ceres: 1986.</p>
<p>Taça José Oscar Bernardi: 1985.</p>
<p>Triangular Luiz Henrique Rosa, Santa Catarina: 1985.</p>
<p>Taça Governador do Estado de São Paulo: 1980.</p>
<p>Troféu Antônio Inácio da Silva: 1979.</p>
<p>Troféu Abertura da Temporada: 1976.</p>
<p>Triangular de Maringá, Paraná: 1976.</p>
<p>II Copa São Paulo - Taça Governador Laudo Natel: 1976.</p>
<p>Taça Prefeito Hermano de Almeida: 1975.</p>
<p>Taça ASCB Dia do Funcionário Público: 1975.</p>
<p>Troféu O Mais Querido: 1968.</p>
<p>Taça Laudo Natel - Manaus, Amazonas: 1965.</p>
<p>Taça Sorveteria Morumbi, Mato Grosso do Sul: 1964.</p>
<p>Taça Cidade dos Passarinhos - Arapongas, Paraná: 1962.</p>
<p>Taça Federação Sergipana de Desportos, Sergipe: 1959.</p>
<p>Troféu Dioclesiano Dantas de Freitas - Arapongas, Paraná: 1956.</p>
<p>Taça Presidentes - Mandaguari, Paraná: 1956.</p>
<p>Taça Forças Armadas Brasileiras: 1954.</p>
<p>Torneio de Uberaba, Minas Gerais: 1954.pela</p>
<p>Taça Governador Régis Pacheco, Bahia: 1954.</p>
<p>Taça Cia. Antárctica Paulista, Bahia: 1954.</p>
<p>Taça Adelmar Costa Carvalho, Pernambuco: 1954.</p>
<p>Taça Cidade do Recife, Pernambuco: 1954.</p>
<p>Taça Cidade de São Paulo, Pernambuco: 1954.</p>
<p>Quadrangular Rio-São Paulo - Taça Armando Arruda Pereira: 1952.</p>
<p>Taça Renato Fernandes - Cambará, Paraná: 1950.</p>
<p>Taça Arthur Santos - Londrina, Paraná: 1950.</p>
<p>Taça Corante Wilson, Paraná: 1949.</p>
<p>Pentagonal Rio-São Paulo - Taça R. Monteiro: 1949.</p>
<p>Taça Governador Octávio Mangabeira, Bahia: 1947.</p>
<p>Taça Cid de Mattos Vianna, Minas Gerais: 1946.</p>
<p>Taça Amizade, Rio de Janeiro: 1946.</p>
<p>III Olímpíada Tricolor: 1944.</p>
<p>Taça General Eurico Gaspar Dutra: 1943.pela</p>
<p>Taça Mesbla - Uberaba, Minas Gerais: 1939.</p>
<p>Taça Hotel Avenida - Recife, Pernambuco: 1937.</p>
<p>Taça São Paulo FC X Ypiranga, Bahia: 1937.</p>
<p>Taça Dr. Cunha Bueno, Rio de Janeiro: 1930.</p>

<h2>Taças e Troféus Secundários</h2>

<p>Taça Federação Brasiliense de Futebol, FBF (Campeonato Brasileiro): 2008.</p>
<p>Taça CBF Caixa Econômica Federal (Pentacampeonato Brasileiro): 2007*.</p>
<p>Copa Governador do Estado de São Paulo, FPF (Campeonato Brasileiro): 2006, 2007.</p>
<p>Taça Grupo de Empresários do São Paulo - GESP (Campeonato Brasileiro): 2006 , 2007.</p>
<p>Troféu Clube dos 13 (Campeonato Brasileiro): 1991.</p>
<p>Troféu Futel (Torneio Rei Dadá): 1995.</p>
*Entregue em 2011 e por decisão judicial colocada novamente sob guarda da Caixa Econômica Federal.*
 
<h2>Títulos Estaduais</h2>

<p>Campeonato Paulista: 1931, 1943, 1945, 1946, 1948, 1949, 1953, 1957, 1970, 1971, 1975, 1980, 1981, 1985, 1987, 1989, 1991, 1992, 1998, 2000, 2005 e 2021.</p>
<p>Supercampeonato Paulista: 2002</p>
<p>Troféu José Ermírio de Moraes Filho - 1ª Fase do Campeonato Paulista da 1ª Divisão: 1991.</p>
<p>Torneio Eduardo José Farah: 1988.</p>
<p>Taça Governador do Estado de São Paulo - 2º Turno do Campeonato Paulista: 1980, 1981, 1982, 1985.</p>
<p>Taça Cidade de São Paulo - 1º Turno do Campeonato Paulista: 1975.</p>
<p>Taça Piratininga (confronto direto dos clubes da Capital): 1967, 1969, 1970, 1971.</p>
<p>Torneio Roberto Gomes Pedrosa: 1956.</p>
<p>Taça Charles Miller: 1956.</p>
<p>Torneio Prefeito Lineu Prestes: 1950.</p>
<p>Taça Cidade de São Paulo: 1944.</p>
<p>Campeonato Paulista - Torneio Extra de 1934 - Torneio dos Cinco Clubes: 1934*</p>
<p>Torneio Início do Campeonato Paulista: 1932, 1940, 1945.</p>
*Campeonato não concluído. SPFC declarado campeão.*
 
<h2>Competições amistosas ou promovidas por terceiros</h2>

<p>Taça Philips do Brasil: 1999.</p>
<p>Troféu ACESAN, AA Portuguesa - Santos: 1997.</p>
<p>Torneio do 139º Aniversário da Cidade de Ribeirão Preto: 1995</p>
<p>Taça Diário Popular 105 Anos: 1989.</p>
<p>Troféu Miguel Assad Macool Filho: 1988.</p>
<p>Troféu Milésimo Jogo do Morumbi: 1987.</p>
<p>Troféu Dr. Jaime Alvarez Gil, Votuporanga: 1985.</p>
<p>Troféu Jacy M. Scanacatta, Cascavel: 1982.</p>
<p>Taça Cícero Pompeu de Toledo: 1980.</p>
<p>Troféu Aniversário de São Bernardo do Campo: 1978.</p>
<p>Troféu Dr. Theodoro Mendes, Sorocaba: 1978.</p>
<p>Torneio Triangular Piracicabano - Taça Romeu Ítalo Ripoli: 1976.</p>
<p>Taça Eliseu de Andrade, São Sebastião da Grama: 1976.</p>
<p>Troféu Cidade de Guaíra: 1976.</p>
<p>Taça Esporte Clube Noroeste: 1975.</p>
<p>Taça José Cury Andere, Mogi das Cruzes: 1974.</p>
<p>Taça Prefeitura Municipal de Rio Claro: 1973.</p>
<p>Troféu Agência Sinca, Oswaldo Cruz: 1962.</p>
<p>Troféu Casa André Luiz, Diadema: 1961.</p>
<p>Troféu Honra ao Mérito, Limeira: 1961.</p>
<p>Troféu de Madeira, Itapetininga: 1961.</p>
<p>Copa Imperial, Barretos: 1958.</p>
<p>Taça do Povo, Santa Cruz do Rio Pardo: 1958.</p>
<p>Copa Irmãos del Ry, Barretos: 1956.</p>
<p>Taça Jorge F. de Mattos, Ribeirão Preto: 1954.</p>
<p>Taça Termômetro Esportivo de A Gazeta Esportiva: 1953</p>
<p>Troféu Adhemar Ferreira da Silva, CA Ypiranga: 1952.</p>
<p>Torneio Quadrangular Paulista: 1952.</p>
<p>Taça Feliz Aniversário, Bauru: 1950.</p>
<p>Taça Presidente Cícero Pompeu de Toledo, Bauru: 1949.</p>
<p>Troféu Filhos de Araçatuba, Araçatuba: 1949.</p>
<p>Taça Dr. José Ribeiro Fortez, São Joaquim da Barra: 1948.</p>
<p>Troféu Casanova, Barretos: 1948.</p>
<p>Taça Sampaulinos de Novo Horizonte: 1948.</p>
<p>Taça APCC: 1948.</p>
<p>Taça Castelões, Ribeirão Preto: 1947.</p>
<p>Taça Cia. Internacional de Capitalização: 1946.</p>
<p>Taça Argemiro Ribeiro de Oliveira, Barretos: 1946.</p>
<p>Taça General Milton de Almeida, Limeira: 1946.</p>
<p>Taça José Ferreira Keffer, Bauru: 1945.</p>
<p>Taça O Esporte: 1945</p>
<p>Taça Branca Dayse, Franca: 1943.</p>
<p>Taça Fabar: 1943.</p>
<p>Taça 18 de Maio: 1941.</p>
<p>Taça C.O.I.: 1941.</p>
<p>Taça Cigarros Trianon, Botafogo FC - Ribeirão Preto: 1938.</p>
<p>Taça 2º Regimento de Cavalaria Divisionária, Pirassununga: 1938.</p>
<p>Taça Alberto Casser, Votorantim: 1938.</p>
<p>Taça Guaraína (Laboratórios Raul Leite), São José do Rio Preto: 1936.</p>
<p>Taça Café Motta, Campinas: 1936.</p>
<p>Taça Trocadero - Festival de Aniversário do SC Sírio: 1932.</p>
<p>Taça Nestor: 1930.</p>

<h2>Taças e Troféis Secundários</h2>

<p>Taça TV Globo - 40 Anos, FPF (Campeonato Paulista): 2005.</p>
<p>Troféu Palácio dos Bandeirantes (Campeonato Paulista): 1991, 1992, 1998, 2000.</p>
<p>Copa Governador do Estado de São Paulo (Campeonato Paulista): 1991, 1992.</p>
<p>Troféu Rádio São Paulo (Campeonato Paulista de 1953): 1954.</p>
<p>Taça Newton Sá e Silva: 1950.</p>
<p>Taça dos Invictos de A Gazeta Esportiva: 1946, 1975.</p>
<p>Troféu Confederação Brasileira de Desportos (Campeonato Paulista): 1945.</p>
<p>Troféu Fluminense Football Club (Campeonato Paulista): 1943.</p>
<p>Taça Federação Paulista de Futebol (Campeonato Paulista): 1943, 1945, 1946, 1948, 1949.</p>
